{% import 'macros/external_or_internal_link.html.twig' as link %}
<nav class="navbar navbar-light bg-white  navbar-expand-md">
    <div class="container">
        <a class="navbar-brand" href="#">
            {% if not ez_is_field_empty(logo, 'logo') %}
                <img src="{{ ez_field_value(logo, 'logo').uri }}"
                     height="30" alt="image">
            {% endif %}
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarNav1" aria-controls="navbarNav1"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav1">
            <ul class="navbar-nav me-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Accueil <span
                                class="sr-only">(current)</span></a>
                </li>
                {% if menus is not null %}
                    {% for menu in menus %}

                        <li class="nav-item">
                            <a class="nav-link"
                               href="{{ link.link(menu) }}">{{ ez_field_value(menu, 'title') }}</a>
                        </li>
                    {% endfor %}
                {% endif %}
            </ul>

        </div>
    </div>
</nav>